.add-plan {
  background-color: $background-light-blue;
  padding-bottom: 43px;
}

.add-plan__form {
  margin: 0;
  padding: 0;
}

.add-plan__step {
  position: relative;
  border: none;
  border-radius: 10px;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
  background-color: $basic-white;
  padding-bottom: 17px;

  &:not(:nth-last-child(1)) {
    margin-bottom: 10px;
  }
}

.add-plan__step-legend {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 24px;
  left: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $special-blue;
}

.add-plan__step-info {
  margin: 0;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: $basic-grey;
}

.add-plan__countries {
  margin-bottom: 25px;
}
