.companions {
  background-color: $basic-blue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 96px;
  padding-bottom: 31px;

  @media (min-width: $tablet) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 201px;
    padding-bottom: 87px;
  }

  @media (min-width: $desktop) {
    padding-top: 190px;
    padding-bottom: 134px;
  }
}

.companions__wrapper {
  position: relative;
  z-index: 1;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 630px 630px;
    grid-template-rows: min-content min-content min-content min-content auto;
    column-gap: 60px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/background/companions/companions-rogovaya-mobile.png");
    background-repeat: no-repeat;
    width: 64px;
    height: 71px;
    top: 239px;
    left: -27px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/companions/companions-rogovaya-mobile@2x.png");
      background-size: 64px auto;
    }

    @media (min-width: $tablet) {
      background-image: url("../img/background/companions/companions-rogovaya-desktop.png");
      width: 285px;
      height: 285px;
      top: -61px;
      right: 34px;
      left: auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/companions/companions-rogovaya-desktop@2x.png");
        background-size: 285px auto;
      }
    }

    @media (min-width: $desktop) {
      top: auto;
      bottom: -54px;
      right: auto;
      left: 130px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/background/companions/companions-smolov-mobile.png");
    background-repeat: no-repeat;
    width: 143px;
    height: 143px;
    top: 64px;
    right: 0;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/companions/companions-smolov-mobile@2x.png");
      background-size: 143px auto;
    }

    @media (min-width: $tablet) {
      top: 285px;
      right: auto;
      left: 0;
    }

    @media (min-width: $desktop) {
      top: 4px;
      left: 487px;
    }
  }
}

.companions__section-title {
  position: relative;
  margin-bottom: 19px;
  margin-left: 24px;
  margin-right: 29px;

  @media (min-width: $tablet) {
    margin-left: 33px;
    margin-bottom: 55px;
    width: 427px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    margin-left: 69px;
    margin-bottom: 55px;
    width: auto;
    grid-column: 1;
    grid-row: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 113px;
    height: 132px;
    background-color: $basic-darker-blue;
    top: -34px;
    left: -49px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;

    @media (min-width: $tablet) {
      width: 212px;
      height: 212px;
      border-radius: 20px;
      top: -70px;
      left: -33px;
    }

    @media (min-width: $desktop) {
      top: -60px;
      left: -69px;
    }
  }
}

.companions__section-text {
  margin-left: 24px;
  margin-right: 29px;

  &:not(:nth-last-of-type(1)) {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet) {
    margin-left: 35px;
    width: 427px;

    &:not(:nth-last-of-type(1)) {
      margin-bottom: 39px;
    }
  }

  @media (min-width: $desktop) {
    margin: 0;
    width: auto;
    grid-column: 1;
    margin-left: 70px;
  }

  & br {
    display: none;

    @media (min-width: $tablet) {
      display: inline-block;
    }
  }

  &:nth-of-type(1) {
    @media (min-width: $desktop) {
      grid-row: 2;
      margin-bottom: 42px;
      width: 427px;
    }
  }

  &:nth-of-type(2) {
    @media (min-width: $desktop) {
      grid-row: 3;
      margin-bottom: 85px;
    }
  }
}

.companions__list {
  margin-top: 54px;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 59px;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop) {
    width: auto;
    margin: 0;
    grid-column: 2;
    grid-row: 1 / -1;
    margin-top: 7px;
  }
}

.companions__item {
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  background-color: $basic-white;
  width: 270px;
  padding-bottom: 22px;
  transition: 0.1s;

  @media (min-width: $tablet) {
    width: 285px;
    border-radius: 20px;
    padding-bottom: 28px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding-bottom: 27px;
  }

  &:hover {
    box-shadow: 0 2px 8px $basic-accent-another-dark-blue;

    & .companions__photo-image {
      transform: scale(1.1);
    }
  }
}

.companions__item:not(:nth-last-child(1)) {
  margin-bottom: 9px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.companions__photo-wrapper {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (min-width: $tablet) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.companions__photo-image {
  vertical-align: top;
  transition: 0.1s;
}

.companions__level {
  position: absolute;
  top: 17px;
  left: 16px;

  @media (min-width: $tablet) {
    top: 20px;
    left: 22px;
  }
}

.companions__countries-list {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: -11px;
  margin-bottom: 13px;
  position: relative;
  z-index: 10;

  @media (min-width: $tablet) {
    margin-top: -12px;
    margin-bottom: 19px;
  }
}

.companions__countries-item {
  width: 35px;
  height: 24px;
  position: relative;
  background-repeat: no-repeat;

  &::before {
    display: none;
    position: absolute;
    background-color: $tooltip-background;
    color: $basic-white;
    padding: 18px 25px;
    top: calc(100% + 13px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 20px;
    font-family: $pognali-font;
    width: auto;
    border-radius: 4px;
  }

  &::after {
    position: absolute;
    content: "";
    display: none;
    width: 16px;
    height: 10px;
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/background/tooltip/polygon.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    &::before,
    &::after {
      display: block;
    }
  }

  @media (min-resolution: 2dppx) {
    background-size: 35px auto;
  }

  &--australia {
    background-image: url("../img/background/flags/35x24/australia.png");

    &::before {
      content: "Австралия";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/australia@2x.png");
    }
  }

  &--belgium {
    background-image: url("../img/background/flags/35x24/belgium.png");

    &::before {
      content: "Бельгия";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/belgium@2x.png");
    }
  }

  &--bosnia-and-herzegovina {
    background-image: url("../img/background/flags/35x24/bosnia-and-herzegovina.png");

    &::before {
      content: "Босния и Герцеговина";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/bosnia-and-herzegovina@2x.png");
    }
  }

  &--czech-republic {
    background-image: url("../img/background/flags/35x24/czech-republic.png");

    &::before {
      content: "Чехия";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/czech-republic@2x.png");
    }
  }

  &--dominica {
    background-image: url("../img/background/flags/35x24/dominica.png");

    &::before {
      content: "Доминика";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/dominica@2x.png");
    }
  }

  &--france {
    background-image: url("../img/background/flags/35x24/france.png");

    &::before {
      content: "Франция";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/france@2x.png");
    }
  }

  &--germany {
    background-image: url("../img/background/flags/35x24/germany.png");

    &::before {
      content: "Германия";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/germany@2x.png");
    }
  }

  &--seychelles {
    background-image: url("../img/background/flags/35x24/seychelles.png");

    &::before {
      content: "Сейшелы";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/seychelles@2x.png");
    }
  }

  &--sri-lanka {
    background-image: url("../img/background/flags/35x24/sri-lanka.png");

    &::before {
      content: "Шри-Ланка";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/sri-lanka@2x.png");
    }
  }

  &--thailand {
    background-image: url("../img/background/flags/35x24/thailand.png");

    &::before {
      content: "Тайланд";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/thailand@2x.png");
    }
  }

  &--uk {
    background-image: url("../img/background/flags/35x24/uk.png");

    &::before {
      content: "Великобритания";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/uk@2x.png");
    }
  }

  &--usa {
    background-image: url("../img/background/flags/35x24/usa.png");

    &::before {
      content: "Соединённые Штаты Америки";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/flags/35x24/usa@2x.png");
    }
  }
}

.companions__countries-item:not(:nth-last-child(1)) {
  margin-right: 20px;
}

.companions__profile-name {
  display: inline-block;
  margin: 0 auto;
  color: $special-blue;
  position: relative;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;

  &::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 7px;
    left: -16px;
  }

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 22px;
    display: block;
    margin-left: 68px;
    margin-right: 46px;
    text-align: left;

    &::after {
      width: 8px;
      height: 8px;
      top: 7px;
      left: -22px;
    }
  }
}

.companions__profile-name--online::after {
  background-color: $special-online;
}

.companions__profile-name--offline::after {
  background-color: $special-offline;
}

.companions__profile-link {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.companions__hashtags-list {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 195px;

  @media (min-width: $tablet) {
    margin-top: 23px;
    margin-bottom: 26px;
    width: 225px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 26px;
  }
}

.companions__hashtags-item {
  margin-right: 4px;
  margin-bottom: -4px;

  @media (min-width: $tablet) {
    margin-bottom: -2px;
  }
}

.companions__hashtags-link {
  font-size: 16px;
  line-height: 18px;
  color: $basic-grey;

  &::before {
    content: "#";
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 23px;
  }
}

.companions__transport-list {
  margin: 0 auto;
  display: flex;
  width: 120px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.companions__transport-item {
  position: relative;

  &::before {
    display: none;
    position: absolute;
    background-color: $tooltip-background;
    color: $basic-white;
    padding: 18px 25px;
    top: calc(100% + 13px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 20px;
    font-family: $pognali-font;
    width: auto;
    border-radius: 4px;
  }

  &::after {
    position: absolute;
    content: "";
    display: none;
    width: 16px;
    height: 10px;
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/background/tooltip/polygon.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    &::before,
    &::after {
      display: block;
      z-index: 1;
    }
  }

  &--plane {
    &::before {
      content: "Авиаперелёт";
    }
  }

  &--bus {
    &::before {
      content: "Автотранспорт";
    }
  }

  &--bicycle {
    &::before {
      content: "Велосипед";
    }
  }

  &--hike {
    &::before {
      content: "Пешком";
    }
  }
}

.companions__transport-icon {
  opacity: 0.15;
  position: relative;
  display: block;

  &--active {
    opacity: 1;
  }

  &--plane {
    width: 21px;
    height: 21px;
  }

  &--bus {
    width: 17px;
    height: 19px;
  }

  &--bicycle {
    width: 24px;
    height: 24px;
  }

  &--hike {
    width: 21px;
    height: 23px;
  }

  @media (min-width: $tablet) {
    &--plane {
      width: 23px;
      height: 22px;
    }

    &--bus {
      width: 18px;
      height: 20px;
    }

    &--bicycle {
      width: 25px;
      height: 25px;
    }

    &--hike {
      width: 22px;
      height: 24px;
    }
  }
}

.companions__section-link {
  @media (min-width: $tablet) {
    margin-left: 34px;
    margin-right: 38px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    margin: 0;
    width: 280px;
    grid-column: 1;
    grid-row: 4;
    margin-left: 71px;
  }
}
