.companion-filter {
  background-color: $basic-yellow;
  border-radius: 20px;
  margin-top: 21px;
  margin-bottom: 28px;
}

.companion-filter__form {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 26px;
  padding-bottom: 22px;
}

.companion-filter__title {
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
  color: $special-blue;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 23px;
}

.companion-filter__fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border-top: 1px solid $special-border-yellow;
}

.companion-filter__toggle-icon {
  position: absolute;
  top: 17px;
  right: 0;
}

.companion-filter__legend {
  position: absolute;
  width: 100%;
  top: 12px;
  left: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: $special-blue;
  text-transform: uppercase;
  cursor: pointer;
}

.companion-filter__input-list {
  margin-top: 43px;
  margin-bottom: 21px;

  &--transport-input {
    display: flex;
  }
}

.companion-filter__input-item {
  margin-bottom: 8px;
}

.companion-filter__label {
  padding-left: 27px;
  position: relative;

  &:hover {
    color: $basic-opaque;
  }

  &:active {
    color: $basic-more-opaque;

    &::before {
      opacity: 0.3;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: $basic-white;
  }
}

.companion-filter__input:checked ~ .companion-filter__label::before {
  background-image: url("../img/icon-check.svg");
  background-position: center;
  background-size: 13px 14px;
  background-repeat: no-repeat;
}

.companion-filter__submit {
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $basic-white;
  cursor: pointer;
  color: $basic-dark-blue;
  font-size: 17px;
  line-height: 17px;
  font-family: inherit;
  border: none;
  border-radius: 25px;
}

.companion-filter__fieldset--hidden .companion-filter__input-item {
  display: none;
}

.companion-filter__fieldset--hidden .companion-filter__toggle-icon {
  transform: rotate(180deg);
}

.companion-filter__fieldset--nojs .companion-filter__input-item {
  display: block;
}

.companion-filter__fieldset--nojs .companion-filter__toggle-icon {
  display: none;
}
