.companions {
  background-color: $basic-blue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 96px;
  padding-bottom: 31px;

  @media (min-width: $tablet) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 201px;
    padding-bottom: 87px;
  }

  @media (min-width: $desktop) {
    padding-top: 190px;
    padding-bottom: 134px;
  }
}

.companions__wrapper {
  position: relative;
  z-index: 1;

  @media (min-width: $desktop) {
    min-height: 483px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/background-rogovaya-mobile.png");
    background-repeat: no-repeat;
    width: 64px;
    height: 71px;
    top: 239px;
    left: -27px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-rogovaya-mobile@2x.png");
      background-size: 64px auto;
    }

    @media (min-width: $tablet) {
      background-image: url("../img/background-rogovaya-desktop.png");
      width: 285px;
      height: 285px;
      top: -61px;
      right: 34px;
      left: auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-rogovaya-desktop@2x.png");
        background-size: 285px auto;
      }
    }

    @media (min-width: $desktop) {
      top: auto;
      bottom: -54px;
      right: auto;
      left: 130px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/background-smolov-mobile.png");
    background-repeat: no-repeat;
    width: 143px;
    height: 143px;
    top: 64px;
    right: 0;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-smolov-mobile@2x.png");
      background-size: 143px auto;
    }

    @media (min-width: $tablet) {
      top: 426px;
      right: auto;
      left: 0;
    }

    @media (min-width: $desktop) {
      top: 4px;
      left: 487px;
    }
  }
}

.companions__section-title {
  position: relative;
  margin-bottom: 19px;
  margin-left: 26px;
  margin-right: 29px;

  @media (min-width: $tablet) {
    margin-left: 33px;
    margin-bottom: 55px;
    width: 427px;
  }

  @media (min-width: $desktop) {
    margin-left: 69px;
    width: 427px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 113px;
    height: 132px;
    background-color: $basic-darker-blue;
    top: -34px;
    left: -49px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;

    @media (min-width: $tablet) {
      width: 212px;
      height: 212px;
      border-radius: 20px;
      top: -70px;
      left: -33px;
    }

    @media (min-width: $desktop) {
      top: -60px;
      left: -69px;
    }
  }
}

.companions__section-text {
  margin-left: 24px;
  margin-right: 29px;

  &:not(:nth-last-of-type(1)) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet) {
    margin-left: 35px;
    width: 427px;

    &:not(:nth-last-of-type(1)) {
      margin-bottom: 39px;
    }
  }

  @media (min-width: $desktop) {
    margin-left: 70px;

    &:not(:nth-last-of-type(1)) {
      margin-bottom: 42px;
    }
  }

  & br {
    display: none;

    @media (min-width: $tablet) {
      display: inline-block;
    }
  }
}

.companions__list {
  margin-top: 54px;
  margin-bottom: 18px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 59px;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 4px;
    right: 0;
    width: calc(50% - 30px);
    margin: 0;
  }
}

.companions__item {
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  background-color: $basic-white;
  width: 270px;
  padding-bottom: 16px;

  @media (min-width: $tablet) {
    width: 285px;
    border-radius: 20px;
    padding-bottom: 22px;
    margin: 0;
  }
}

.companions__item:not(:nth-last-child(1)) {
  margin-bottom: 9px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.companions__photo-image {
  vertical-align: top;
}

.companions__level {
  position: absolute;
  top: 17px;
  left: 16px;

  @media (min-width: $tablet) {
    top: 20px;
    left: 22px;
  }
}

.companions__countries-list {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: -11px;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    margin-top: -12px;
    margin-bottom: 19px;
  }
}

.companions__countries-item {
  width: 35px;
  height: 25px;
  background-repeat: no-repeat;

  &--australia {
    background-image: url("../img/flag-australia-mobile.png");
  }

  &--belgium {
    background-image: url("../img/flag-belgium-mobile.png");
  }

  &--bosnia-and-herzegovina {
    background-image: url("../img/flag-bosnia-and-herzegovina-mobile.png");
  }

  &--czech {
    background-image: url("../img/flag-czech-mobile.png");
  }

  &--dominica {
    background-image: url("../img/flag-dominica-mobile.png");
  }

  &--france {
    background-image: url("../img/flag-france-mobile.png");
  }

  &--germany {
    background-image: url("../img/flag-germany-mobile.png");
  }

  &--seychelles {
    background-image: url("../img/flag-seychelles-mobile.png");
  }

  &--sri-lanka {
    background-image: url("../img/flag-sri-lanka-mobile.png");
  }

  &--thailand {
    background-image: url("../img/flag-thailand-mobile.png");
  }

  &--uk {
    background-image: url("../img/flag-uk-mobile.png");
  }

  &--usa {
    background-image: url("../img/flag-usa-mobile.png");
  }
}

.companions__countries-item:not(:nth-last-child(1)) {
  margin-right: 20px;
}

.companions__profile-name {
  display: inline-block;
  margin: 0 auto;
  color: $special-blue;
  position: relative;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 22px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 7px;
    left: -16px;
  }
}

.companions__profile-name--online::after {
  background-color: $special-online;
}

.companions__profile-name--offline::after {
  background-color: $special-offline;
}

.companions__profile-link:hover {
  opacity: 0.6;
}

.companions__profile-link:active {
  opacity: 0.3;
}

.companions__hashtags-list {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 195px;

  @media (min-width: $tablet) {
    margin-top: 23px;
    margin-bottom: 24px;
    width: 225px;
  }
}

.companions__hashtags-item {
  margin-right: 4px;
  margin-bottom: -4px;
}

.companions__hashtags-link {
  font-size: 16px;
  line-height: 18px;
  color: $basic-grey;

  &::before {
    content: "#";
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 23px;
  }
}

.companions__transport-list {
  margin: 0 auto;
  display: flex;
  width: 120px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.companions__transport-icon--active {
  opacity: 1;
}

.companions__section-link {
  @media (min-width: $tablet) {
    margin-left: 34px;
    margin-right: 38px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    margin-top: 85px;
    margin-left: 71px;
    width: 280px;
  }
}
