.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    margin-right: 57px;
    margin-left: 57px;
  }

  &--header {
    @media (min-width: $desktop) {
      display: none;
    }
  }

  &--registration {
    @media (min-width: $tablet) {
      margin-right: 35px;
      margin-left: 35px;
    }
  }
}

.contacts__item {
  padding-top: 15px;
  padding-bottom: 14px;

  @media (min-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.contacts__link {
  display: block;
  position: relative;
  color: $basic-blue;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 61px;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 28px;
    padding-left: 91px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $basic-accent-dark-blue;
    z-index: 1;
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      width: 68px;
      height: 68px;
      top: -20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 2;

    @media (min-width: $tablet) {
      width: 68px;
      height: 68px;
    }
  }

  &--registration {
    color: $basic-yellow;
  }
}

.contacts__link--phone::after {
  background-image: url("../img/icon-phone.svg");

  @media (min-width: $tablet) {
    background-size: 27px 26px;
  }
}

.contacts__link--mail::after {
  background-image: url("../img/icon-mail.svg");

  @media (min-width: $tablet) {
    background-size: 36px 38px;
  }
}
