.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    margin-right: 57px;
    margin-left: 57px;
  }

  &--header {
    @media (min-width: $desktop) {
      display: none;
    }
  }

  &--registration {
    @media (min-width: $tablet) {
      margin-right: 35px;
      margin-left: 35px;
    }

    @media (min-width: $desktop) {
      flex-direction: row;
      justify-content: center;
    }
  }
}

.contacts__item {
  &--registration {
    @media (min-width: $desktop) {
      &:not(:nth-last-child(1)) {
        margin-right: 110px;
      }
    }
  }
}

.contacts__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & use {
    fill: $basic-yellow;
  }

  &:hover,
  &:active {
    & use {
      fill: $special-orange-light;
    }
  }

  &:active {
    & use {
      opacity: 0.3;
    }

    & .contacts__text {
      opacity: 0.3;
    }
  }
}

.contacts__link--registration {
  & .contacts__text {
    color: $basic-yellow;
  }

  &:hover,
  &:active {
    & .contacts__text {
      color: $special-orange-light;
    }
  }
}

.contacts__icon-wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic-accent-dark-blue;
  position: relative;

  @media (min-width: $tablet) {
    width: 68px;
    height: 68px;
  }
}

.contacts__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--phone {
    width: 18px;
    height: 17px;
  }

  &--mail {
    width: 24px;
    height: 25px;
  }

  @media (min-width: $tablet) {
    &--phone {
      width: 28px;
      height: 26px;
    }

    &--mail {
      width: 36px;
      height: 38px;
    }
  }
}

.contacts__text {
  color: $basic-blue;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 16px;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 28px;
    padding-left: 23px;
  }
}
