.contacts-authorization {
  display: flex;
}

.contacts-authorization__contacts-list {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
  }
}

.contacts-authorization__contacts-link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--phone {
    background-color: $special-orange-dark;

    &:hover,
    &:active {
      background-color: $special-orange-dark-hover;
    }
  }

  &--mail {
    background-color: $special-orange-light;

    &:hover,
    &:active {
      background-color: $special-orange-dark;
    }
  }

  @media (min-width: $desktop) {
    width: 50px;
    height: 50px;
  }

  &:active {
    & .contacts-authorization__contacts-icon {
      opacity: 0.3;
    }
  }
}

.contacts-authorization__contacts-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--phone {
    width: 18px;
    height: 18px;
  }

  &--mail {
    width: 18px;
    height: 16px;
  }

  @media (min-width: $desktop) {
    &--mail {
      width: 16px;
      height: 14px;
    }
  }
}
