.countries-list {
  @media (min-width: $tablet) {
    display: flex;
    padding-top: 35px;
    padding-bottom: 33px;
    align-items: flex-start;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 209px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: $basic-another-light-blue;
      opacity: 0.5;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 34px;
    padding-bottom: 36px;

    &::after {
      display: none;
    }
  }
}

.countries-list__letters-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;

  &--filter {
    background-color: $basic-white;
    border-top: 1px solid $background-medium-grey;
  }

  @media (min-width: $tablet) {
    border: none;
    margin-left: 27px;
    margin-right: 80px;
    box-sizing: content-box;
    width: 262px;

    &--filter {
      background-color: transparent;
      border: none;
      width: 390px;
      margin-right: 0;
      justify-content: space-between;
    }
  }

  @media (min-width: $desktop) {
    width: 361px;
    margin-left: 26px;
    margin-right: 128px;

    &--filter {
      display: none;
    }
  }
}

.countries-list__sorted-names-list {
  border-left: 1px solid $background-medium-grey;
  border-right: 1px solid $background-medium-grey;
  width: 100%;
  box-sizing: border-box;

  &--filter {
    border-left: none;
    border-right: none;
  }

  @media (min-width: $tablet) {
    width: 206px;
    border: none;
  }

  @media (min-width: $desktop) {
    width: 215px;

    &--filter {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      padding-left: 35px;
      padding-right: 35px;
      align-items: flex-start;
    }
  }
}

.countries-list__sorted-names-item {
  display: none;
  padding: 20px;
  border-bottom: 1px solid $background-medium-grey;

  &--filter {
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;
  }

  @media (min-width: $tablet) {
    border-bottom: none;
    padding: 0;
  }

  @media (min-width: $desktop) {
    &--filter {
      display: block;
      width: 250px;
      margin-bottom: 50px;
    }
  }
}

.countries-list__letter-names-item {
  &:not(:nth-last-child(1)) {
    margin-bottom: 4px;

    @media (min-width: $tablet) {
      margin-bottom: 10px;
    }
  }

  &--filter {
    &:not(:nth-last-child(1)) {
      margin-bottom: 0;
    }
  }
}

.countries-list__sorted-names-letter {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-weight: 700;
    color: $basic-blue;
  }
}

.countries-list__letters-item {
  display: flex;
  width: calc(100% / 5);
  box-sizing: border-box;
  height: 41px;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $background-medium-grey;
  border-bottom: 1px solid $background-medium-grey;

  &:nth-child(5n) {
    border-right: 1px solid $background-medium-grey;
  }

  @media (min-width: $tablet) {
    border: none;
    width: 52px;
    height: 69px;
    border-left: 1px solid $background-medium-grey;
    border-top: 1px solid $background-medium-grey;

    &:nth-child(n+21) {
      border-bottom: 1px solid $background-medium-grey;
    }

    &:nth-child(5n) {
      border-right: 1px solid $background-medium-grey;
    }

    &--filter {
      border: none;
      height: auto;
      width: 78px;

      &:not(:nth-child(n+21)) {
        margin-bottom: 36px;
      }

      &:nth-child(n+21) {
        border-bottom: none;
      }

      &:nth-child(5n) {
        border: none;
      }
    }
  }

  @media (min-width: $desktop) {
    width: 60px;
    height: 70px;
    border: 1px solid $background-medium-grey;
    border-radius: 4px;

    &:not(:nth-child(5n)) {
      margin-right: 15px;
    }

    &:not(:nth-child(n+21)) {
      margin-bottom: 14px;
    }
  }
}

.countries-list__label-letter {
  color: $special-blue;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;

    &--filter {
      font-size: 60px;
      line-height: 60px;
      color: $basic-blue-opaque;
      font-weight: 700;
      justify-content: flex-start;
    }
  }
}

.countries-list__country-link {
  color: $basic-grey;
  font-size: 16px;
  line-height: 22px;

  &:hover {
    color: $special-blue;
  }

  &:active {
    color: $special-blue-opaque;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  &--filter {
    @media (min-width: $tablet) {
      line-height: 30px;
    }
  }
}

//ранее здесь были прекрасные циклы, которые не принимает линтер. Что ж. Тогда//

.countries-list__radio-letter--letter1:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter1"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter1:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter1"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter1:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter1"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter1:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter1"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter1:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(1) {
  display: block;
}

.countries-list__radio-letter--letter2:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter2"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter2:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter2"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter2:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter2"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter2:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter2"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter2:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(2) {
  display: block;
}

.countries-list__radio-letter--letter3:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter3"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter3:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter3"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter3:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter3"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter3:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter3"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter3:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(3) {
  display: block;
}

.countries-list__radio-letter--letter4:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter4"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter4:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter4"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter4:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter4"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter4:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter4"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter4:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(4) {
  display: block;
}

.countries-list__radio-letter--letter5:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter5"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter5:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter5"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter5:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter5"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter5:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter5"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter5:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(5) {
  display: block;
}

.countries-list__radio-letter--letter6:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter6"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter6:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter6"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter6:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter6"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter6:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter6"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter6:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(6) {
  display: block;
}

.countries-list__radio-letter--letter7:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter7"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter7:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter7"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter7:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter7"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter7:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter7"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter7:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(7) {
  display: block;
}

.countries-list__radio-letter--letter8:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter8"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter8:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter8"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter8:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter8"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter8:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter8"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter8:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(8) {
  display: block;
}

.countries-list__radio-letter--letter9:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter9"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter9:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter9"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter9:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter9"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter9:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter9"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter9:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(9) {
  display: block;
}

.countries-list__radio-letter--letter10:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter10"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter10:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter10"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter10:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter10"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter10:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter10"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter10:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(10) {
  display: block;
}

.countries-list__radio-letter--letter11:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter11"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter11:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter11"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter11:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter11"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter11:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter11"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter11:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(11) {
  display: block;
}

.countries-list__radio-letter--letter12:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter12"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter12:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter12"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter12:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter12"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter12:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter12"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter12:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(12) {
  display: block;
}

.countries-list__radio-letter--letter13:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter13"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter13:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter13"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter13:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter13"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter13:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter13"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter13:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(13) {
  display: block;
}

.countries-list__radio-letter--letter14:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter14"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter14:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter14"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter14:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter14"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter14:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter14"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter14:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(14) {
  display: block;
}

.countries-list__radio-letter--letter15:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter15"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter15:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter15"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter15:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter15"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter15:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter15"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter15:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(15) {
  display: block;
}

.countries-list__radio-letter--letter16:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter16"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter16:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter16"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter16:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter16"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter16:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter16"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter16:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(16) {
  display: block;
}

.countries-list__radio-letter--letter17:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter17"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter17:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter17"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter17:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter17"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter17:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter17"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter17:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(17) {
  display: block;
}

.countries-list__radio-letter--letter18:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter18"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter18:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter18"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter18:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter18"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter18:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter18"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter18:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(18) {
  display: block;
}

.countries-list__radio-letter--letter19:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter19"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter19:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter19"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter19:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter19"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter19:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter19"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter19:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(19) {
  display: block;
}

.countries-list__radio-letter--letter20:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter20"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter20:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter20"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter20:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter20"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter20:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter20"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter20:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(20) {
  display: block;
}

.countries-list__radio-letter--letter21:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter21"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter21:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter21"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter21:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter21"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter21:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter21"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter21:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(21) {
  display: block;
}

.countries-list__radio-letter--letter22:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter22"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter22:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter22"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter22:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter22"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter22:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter22"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter22:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(22) {
  display: block;
}

.countries-list__radio-letter--letter23:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter23"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter23:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter23"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter23:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter23"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter23:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter23"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter23:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(23) {
  display: block;
}

.countries-list__radio-letter--letter24:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter24"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter24:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter24"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter24:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter24"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter24:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter24"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter24:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(24) {
  display: block;
}

.countries-list__radio-letter--letter25:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter25"] {
  background-color: $background-lighter-blue;

  @media (min-width: $tablet) {
    background-color: $special-blue;
    color: $basic-white;
  }
}

.countries-list__radio-letter--letter25:checked ~ .countries-list__letters-list .countries-list__label-letter[for="letter25"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $background-lighter-blue;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet) {
    width: calc(100% + 3px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: transparent;
    border: 2px solid $special-blue;
  }
}

.countries-list__radio-letter--letter25:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter25"] {
  background-color: $special-blue;
  color: $basic-white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $basic-blue;

    &::after {
      display: none;
    }
  }
}

.countries-list__radio-letter--letter25:checked ~ .countries-list__letters-list .countries-list__label-letter--filter[for="letter25"]::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: transparent;
  border: 1px solid $special-blue;
}

.countries-list__radio-letter--letter25:checked ~ .countries-list__sorted-names-list .countries-list__sorted-names-item:nth-child(25) {
  display: block;
}
