.directions {
  background-color: var(--background-lighter-blue);
  z-index: 10;
}

.directions__wrapper {
  padding-top: 71px;
}

.directions__country-list {
  margin-top: 60px;
  margin-bottom: 27px;
}

.directions__country-item {
  width: 270px;
}

.directions__country-item:not(:nth-last-child(1)) {
  margin-bottom: 11px;
}

.directions__country-image-wrapper {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.directions__country-image {
  vertical-align: top;
}

.directions__country-information {
  background-color: var(--basic-white);
  position: relative;
  border-radius: 10px;
  padding-top: 26px;
  padding-bottom: 24px;
  margin-top: -11px;
  padding-left: 24px;
  padding-right: 24px;

  &::after {
    content: "";
    position: absolute;
    top: -13px;
    left: 25px;
    width: 35px;
    height: 25px;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &--thailand {
    &::after {
      background-image: url("../img/flag-thailand-mobile.png");
    }
  }

  &--france {
    &::after {
      background-image: url("../img/flag-france-mobile.png");
    }
  }

  &--czech {
    &::after {
      background-image: url("../img/flag-czech-mobile.png");
    }
  }
}

.directions__country-name {
  margin: 0;
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 2px;
}

.directions__country-motto {
  margin: 0;
  padding: 0;
  color: var(--basic-grey-opaque);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.directions__country-likes {
  position: absolute;
  top: 28px;
  right: 24px;
  margin: 0;
  padding: 0;
  margin-left: 19px;
  color: var(--basic-grey-opaque);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    top: 2px;
    left: -19px;
  }
}
