.directions {
  position: relative;
  padding-top: 101px;
  padding-bottom: 4px;
  margin-top: -30px;

  &::after {
    position: absolute;
    content: "";
    bottom: -30px;
    width: 100%;
    height: 30px;
    background-color: $background-lighter-blue;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media (min-width: $tablet) {
    padding-top: 133px;
    padding-bottom: 20px;
    margin-top: -60px;

    &::after {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 148px;
    padding-bottom: 27px;
  }
}

.directions__wrapper {
  @media (min-width: $tablet) {
    position: relative;
    background-image: url("../img/background/directions/directions-flags-tablet.png");
    background-position: top 7px right;
    background-repeat: no-repeat;
    background-size: 288px 574px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/directions/directions-flags-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/background/directions/directions-flags-desktop.png");
    background-position: top right;
    background-size: 287px 575px;
    column-gap: 170px;
    display: grid;
    grid-template-columns: 630px 400px;
    grid-template-rows: min-content min-content min-content auto;
    min-height: 575px;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/directions/directions-flags-desktop@2x.png");
    }
  }
}

.directions__section-title {
  margin-bottom: 19px;
  margin-left: 25px;
  margin-right: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 57px;
    margin-left: 33px;
    margin-right: 33px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    width: auto;
    grid-column: 2;
    grid-row: 1;
    margin-top: 78px;
    margin-left: 1px;
  }
}

.directions__section-text {
  margin-bottom: 60px;
  margin-left: 24px;
  margin-right: 35px;

  @media (min-width: $tablet) {
    width: 378px;
    margin-bottom: 104px;
    margin-left: 35px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    grid-column: 2;
    grid-row: 2;
    margin-top: 58px;
    margin-left: 2px;
  }
}

.directions__country-list {
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    position: relative;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 46px;

    &::before {
      position: absolute;
      content: "";
      top: -38px;
      left: -35px;
      width: 141px;
      height: 141px;
      border-radius: 20px;
      background-color: $basic-light-blue;
    }
  }

  @media (min-width: $desktop) {
    margin: 0;
    grid-column: 1;
    grid-row: 1 / -1;
    margin-top: 73px;
    margin-left: 70px;
    width: 560px;

    &::before {
      top: -71px;
      left: -70px;
      width: 140px;
      height: 140px;
    }
  }
}

.directions__country-item {
  border-radius: 10px;
  overflow: hidden;

  &:not(:nth-last-of-type(1)) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 140px;
    border-radius: 20px;
  }

  &:hover {
    box-shadow: 0 2px 8px $special-blue-more-opaque;

    & .directions__country-image {
      transform: scale(1.1);
    }
  }
}

.directions__country-image-wrapper {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet) {
    order: 2;
    width: auto;
    align-self: stretch;
  }
}

.directions__country-image {
  vertical-align: top;
  transition: 0.1s;

  @media (min-width: $tablet) {
    object-fit: cover;
    height: 100%;
    width: auto;
  }
}

.directions__country-information {
  position: relative;
  z-index: 2;
  background-color: $basic-white;
  padding-top: 26px;
  padding-bottom: 6px;
  border-radius: 10px;
  margin-top: -11px;
  min-height: 89px;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 24px;
    top: -12px;
    left: 25px;
    border-radius: 3px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-size: 35px auto;
    }
  }

  @media (min-width: $tablet) {
    order: 1;
    flex-grow: 1;
    min-height: 140px;
    margin-top: 0;
    border-radius: 0;
    padding: 0;

    &::before {
      width: 70px;
      height: 47px;
      top: 17px;
      left: auto;
      right: -36px;

      @media (min-resolution: 2dppx) {
        background-size: 70px auto;
      }
    }
  }

  @media (min-width: $desktop) {
    &::before {
      top: 23px;
    }
  }

  &--australia {
    &::before {
      background-image: url("../img/background/flags/35x24/australia.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/australia@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/australia.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/australia@2x.png");
        }
      }
    }
  }

  &--belgium {
    &::before {
      background-image: url("../img/background/flags/35x24/belgium.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/belgium@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/belgium.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/belgium@2x.png");
        }
      }
    }
  }

  &--czech-republic {
    &::before {
      background-image: url("../img/background/flags/35x24/czech-republic.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/czech-republic@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/czech-republic.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/czech-republic@2x.png");
        }
      }
    }
  }

  &--dominica {
    &::before {
      background-image: url("../img/background/flags/35x24/dominica.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/dominica@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/dominica.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/dominica@2x.png");
        }
      }
    }
  }

  &--france {
    &::before {
      background-image: url("../img/background/flags/35x24/france.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/france@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/france.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/france@2x.png");
        }
      }
    }
  }

  &--germany {
    &::before {
      background-image: url("../img/background/flags/35x24/germany.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/germany@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/germany.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/germany@2x.png");
        }
      }
    }
  }

  &--seychelles {
    &::before {
      background-image: url("../img/background/flags/35x24/seychelles.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/seychelles@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/seychelles.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/seychelles@2x.png");
        }
      }
    }
  }

  &--sri-lanka {
    &::before {
      background-image: url("../img/background/flags/35x24/sri-lanka.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/sri-lanka@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/sri-lanka.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/sri-lanka@2x.png");
        }
      }
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/background/flags/35x24/thailand.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/thailand@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/thailand.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/thailand@2x.png");
        }
      }
    }
  }

  &--uk {
    &::before {
      background-image: url("../img/background/flags/35x24/uk.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/uk@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/uk.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/uk@2x.png");
        }
      }
    }
  }

  &--usa {
    &::before {
      background-image: url("../img/background/flags/35x24/usa.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/flags/35x24/usa@2x.png");
      }

      @media (min-width: $tablet) {
        background-image: url("../img/background/flags/70x47/usa.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/flags/70x47/usa@2x.png");
        }
      }
    }
  }
}

.directions__country-name {
  color: $basic-black;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-left: 24px;
  width: 155px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 30px;
    width: 340px;
  }

  @media (min-width: $desktop) {
    margin-top: 24px;
    width: 270px;
  }
}

.directions__country-motto {
  margin: 0;
  padding: 0;
  color: $basic-grey-opaque;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  width: 135px;
  margin-left: 25px;
  margin-top: 2px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 17px;
    width: 340px;
  }

  @media (min-width: $desktop) {
    width: 270px;
    margin-top: 4px;
    margin-left: 31px;
    margin-bottom: 23px;
  }
}

.directions__country-likes {
  position: absolute;
  top: 28px;
  left: 185px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet) {
    position: relative;
    left: auto;
    top: auto;
    margin-left: 27px;
    margin-bottom: 20px;
  }
}

.directions__country-likes-icon {
  opacity: 0.1;
  width: 14px;
  height: 14px;
  margin-right: 5px;

  @media (min-width: $tablet) {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.directions__country-likes-number {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $basic-dark-blue-opaque;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.directions__section-link {
  @media (min-width: $tablet) {
    margin-left: 35px;
    margin-right: 35px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    grid-column: 2;
    grid-row: 3;
    margin-top: 98px;
    width: 275px;
    margin-left: 3px;
  }
}
