.directions {
  position: relative;
  background-color: $background-lighter-blue;
  z-index: 10;
  padding-bottom: 4px;

  &::after {
    position: absolute;
    content: "";
    bottom: -30px;
    width: 100%;
    background-color: inherit;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media (min-width: $tablet) {
    &::after {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }
}

.directions__wrapper {
  padding-top: 70px;
  position: relative;
  z-index: 1;

  &::after {
    @media (min-width: $tablet) {
      content: "";
      position: absolute;
      width: 288px;
      height: 574px;
      top: 80px;
      right: 0;
      background-image: url("../img/background-flags-tablet.png");
      z-index: -1;

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/background-flags-tablet@2x.png");
      }
    }
  }
}

.directions__country-list {
  margin-top: 60px;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    position: relative;
    margin-top: 104px;
    margin-bottom: 46px;
    margin-left: 36px;
    margin-right: 36px;
    width: calc(100% - 72px);

    &::after {
      content: "";
      position: absolute;
      width: 141px;
      height: 141px;
      top: -38px;
      left: -36px;
      z-index: -1;
      border-radius: 20px;
      background-color: $basic-light-blue;
    }
  }
}

.directions__country-item {
  width: 270px;

  @media (min-width: $tablet) {
    width: 100%;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
  }
}

.directions__country-item:not(:nth-last-child(1)) {
  margin-bottom: 11px;
}

.directions__country-image-wrapper {
  background-color: transparent;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    order: 2;
  }
}

.directions__country-image {
  vertical-align: top;
}

.directions__country-information {
  background-color: $basic-white;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  min-height: 89px;
  padding-top: 26px;
  padding-bottom: 6px;
  margin-top: -11px;
  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: $tablet) {
    width: 432px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    z-index: 2;
    height: 140px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -13px;
    left: 25px;
    width: 35px;
    height: 25px;
    background-repeat: no-repeat;
    z-index: 0;

    @media (min-width: $tablet) {
      top: 17px;
      right: -35px;
      left: auto;
      width: 70px;
      height: 47px;
    }
  }

  &--thailand {
    &::after {
      background-image: url("../img/flag-thailand-mobile.png");

      @media (min-width: $tablet) {
        background-image: url("../img/flag-thailand-tablet.png");
      }
    }
  }

  &--france {
    &::after {
      background-image: url("../img/flag-france-mobile.png");

      @media (min-width: $tablet) {
        background-image: url("../img/flag-france-tablet.png");
      }
    }
  }

  &--czech {
    &::after {
      background-image: url("../img/flag-czech-mobile.png");

      @media (min-width: $tablet) {
        background-image: url("../img/flag-czech-tablet.png");
      }
    }
  }
}

.directions__country-name {
  margin: 0;
  color: $basic-black;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 2px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: 29px;
    margin-right: 64px;
    margin-bottom: 5px;
  }
}

.directions__country-motto {
  margin: 0;
  padding: 0;
  color: $basic-grey-opaque;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 160px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 29px;
    margin-bottom: 17px;
    width: 300px;
  }
}

.directions__country-likes {
  position: absolute;
  top: 28px;
  left: 185px;
  margin: 0;
  padding: 0;
  margin-left: 19px;
  color: $basic-grey-opaque;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    font-size: 20px;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin-left: 58px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    top: 2px;
    left: -19px;

    @media (min-width: $tablet) {
      width: 24px;
      height: 24px;
      background-size: 100% 100%;
      left: -32px;
      top: -3px;
    }
  }
}
