.filter-cards-pagination-wrapper {
  margin-top: 76px;
  margin-bottom: 66px;

  @media (min-width: $tablet) {
    margin-top: 182px;
    margin-bottom: 122px;
  }

  @media (min-width: $desktop) {
    margin-top: 182px;
    margin-bottom: 139px;
    display: grid;
    grid-template-columns: 951px 285px;
    grid-template-rows: autp auto;
    column-gap: 85px;
    row-gap: 0;
    align-items: start;
  }
}

.companion-filter {
  @media (min-width: $desktop) {
    grid-column: 2;
    grid-row: 1;
  }
}

.companion-cards {
  @media (min-width: $desktop) {
    grid-column: 1;
    grid-row: 1;
  }
}

.pagination {
  @media (min-width: $desktop) {
    grid-column: 1;
    grid-row: 2;
  }
}
