.level {
  position: absolute;
  background-color: var(--basic-opaque);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 17px;
  left: 16px;
}

.level__value {
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  font-size: 24px;
  line-height: 19px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 15px;
}

.level__legend {
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 12px;
  text-align: center;
}
