.level {
  background-color: $basic-opaque;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  &--form {
    width: 100px;
    height: 100px;
    background-color: transparent;
  }

  @media (min-width: $tablet) {
    &--form {
      width: 94px;
      height: 94px;
    }
  }

  @media (min-width: $desktop) {
    &--form {
      width: 95px;
      height: 95px;
    }
  }
}

.level--companions {
  &::before {
    position: absolute;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: none;
  }

  &[data-level="80"] {
    background-image: url("../img/background/level/level-companions-80.svg");
  }

  &[data-level="99"] {
    background-image: url("../img/background/level/level-companions-99.svg");
  }
}

.level__value {
  margin: 0;
  padding: 0;
  color: $basic-white;
  font-size: 24px;
  line-height: 19px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 15px;
  position: relative;

  &--form {
    font-size: 38px;
    line-height: 38px;
    color: $basic-dark-blue;
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(100% + 2px);
    width: 30px;
    height: 1px;
    background-color: $basic-white;
    opacity: 0.3;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet) {
    &--form {
      padding-top: 20px;
      margin-bottom: 12px;
    }
  }

  @media (min-width: $desktop) {
    &--form {
      padding-top: 22px;
      margin-bottom: 4px;
      color: $basic-white;
    }
  }
}

.level__legend {
  margin: 0;
  padding: 0;
  color: $basic-white;
  font-size: 14px;
  line-height: 12px;
  text-align: center;

  &--form {
    font-size: 18px;
    line-height: 18px;
    color: $basic-grey;
  }

  @media (min-width: $desktop) {
    color: $basic-white;
  }
}
