.location {
  position: relative;
  background-color: $basic-yellow;
  padding-top: 61px;
  padding-bottom: 5px;

  &::after {
    position: absolute;
    content: "";
    bottom: -30px;
    background-color: inherit;
    width: 100%;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media (min-width: $tablet) {
    padding-top: 108px;
    padding-bottom: 24px;

    &::after {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 0;
  }
}

.location__wrapper {
  @media (min-width: $desktop) {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
}

.location__address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    margin-left: 35px;
    margin-right: 35px;
  }
}

.location__address-icon-wrapper {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic-accent-dark-blue;
  flex-shrink: 0;
  margin-right: 16px;

  @media (min-width: $tablet) {
    width: 68px;
    height: 68px;
    margin-right: 26px;
  }

  @media (min-width: $desktop) {
    width: 90px;
    height: 90px;
    margin-right: 31px;
  }
}

.location__address-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;

  @media (min-width: $tablet) {
    width: 32px;
    height: 32px;
  }

  @media (min-width: $desktop) {
    width: 42px;
    height: 42px;
  }
}

.location__address-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: $special-blue;
  text-transform: uppercase;
  font-style: normal;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 28px;
  }

  & br {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}
