.main-title {
  width: 270px;
  margin: 0 auto;
  padding-top: 95px;
  padding-bottom: 12px;

  &--index {
    text-align: center;
    padding-top: 94px;
    margin-bottom: 10px;
  }
}

.main-title__text {
  color: $basic-white;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  &--underline {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: $special-orange-dark;
      bottom: -14px;
      left: 0;
    }
  }
}
