.map__wrapper {
  background-image: url("../../img/background-map.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 424px;
}

.map__interactive {
  border: none;
}
