.map {
  margin-top: -52px;
  margin-bottom: -50px;

  @media (min-width: $tablet) {
    margin-top: -47px;
    margin-bottom: 47px;
  }
}

.map__wrapper {
  height: 424px;
  width: 100%;

  @media (min-width: $tablet) {
    height: 581px;
  }

  @media (min-width: $tablet) {
    height: 584px;
  }
}

.map__interactive {
  width: 100%;
  height: 100%;
  border: none;
  background-repeat: no-repeat;
  background-image: url("../img/background/map/map-mobile.png");
  background-size: 320px 424px;
  background-position: top 30px center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/map/map-mobile@2x.png");
  }

  @media (min-width: $tablet) {
    background-image: url("../img/background/map/map-tablet.png");
    background-size: 768px 581px;
    background-position: top 60px center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/map/map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/background/map/map-desktop.png");
    background-size: 1440px 584px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/map/map-desktop@2x.png");
    }
  }
}
