.my-plans {
  background-color: $background-lighter-grey;
}

.my-plans__list {
  counter-reset: my-plans-counter;
}

.my-plans__item {
  counter-increment: my-plans-counter;
  position: relative;
  background-color: $basic-white;
  border-radius: 10px;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 25px;
  padding-right: 25px;

  &:not(:nth-last-child(1)) {
    margin-bottom: 10px;
  }

  &::before {
    position: absolute;
    content: counter(my-plans-counter) ". ";
    color: $special-blue;
    top: 24px;
    left: 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
}

.my-plans__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 18px;
  color: $special-blue;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.my-plans__companions {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $special-blue;
}

.my-plans__dates {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $special-blue;
}

.my-plans__change {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.3;
}
