.page-header {
  position: relative;
  background-color: $basic-dark-blue;

  @media (min-width: $tablet) {
    background-color: $header-blue;
  }
}

.page-header__menu {
  background-color: $basic-white;
  padding-top: 25px;
  padding-bottom: 29px;

  @media (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 73px;
  }

  @media (min-width: $desktop) {
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
  }
}

.page-header__menu-wrapper {
  position: relative;

  @media (min-width: $desktop) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.page-header__logo-toggle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 19px;

  @media (min-width: $tablet) {
    height: 50px;
    width: calc(50% + 11px);
  }

  @media (min-width: $desktop) {
    width: auto;
  }
}

.page-header__logo {
  position: relative;
  display: block;
  width: 96px;
  height: 15px;

  @media (min-width: $tablet) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop) {
    width: 200px;
    height: 50px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 96px;
    height: 15px;
    background-image: url("../img/logo-mobile-open.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      width: 166px;
      height: 42px;
      background-image: url("../img/logo-tablet-open.svg");
    }

    @media (min-width: $desktop) {
      display: none;
    }
  }
}

.page-header__menu-toggle {
  display: none;
}

.page-header__navigation {
  margin-top: 74px;
  margin-bottom: 51px;

  @media (min-width: $tablet) {
    margin-top: 95px;
    margin-bottom: 144px;
  }

  @media (min-width: $desktop) {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 145px;

    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 2px;
      background-color: $basic-white;
      top: 50%;
      transform: translateY(-50%);
      left: -105px;
    }
  }
}

.page-header__contacts-authorization {
  @media (min-width: $tablet) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.page-header__contacts {
  margin-top: 51px;
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    margin-top: 0;
    margin-bottom: 113px;
  }
}
