.page-header {
  position: relative;
  background-color: var(--basic-dark-blue);

  &--form::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 14px;
    background-color: var(--basic-yellow);
    bottom: -4px;
    left: 0;
    z-index: -1;
  }
}

.page-header__menu {
  background-color: var(--basic-white);
  padding-bottom: 28px;

  &--active {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
  }

  &--closed {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: transparent;
    padding-bottom: 0;
  }
}

.page-header__menu-wrapper {
  margin: 0 auto;
  width: 270px;
}

.page-header__menu-wrapper--closed .page-header__navigation,
.page-header__menu-wrapper--closed .page-header__contacts-authorization,
.page-header__menu-wrapper--closed .page-header__contacts,
.page-header__menu-wrapper--closed .page-header__social {
  display: none;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-header__menu-wrapper--closed .page-header__logo-wrapper {
  padding: 0;
  padding-top: 19px;
}

.page-header__logo-image {
  display: block;
  padding-top: 4px;
  padding-bottom: 1px;
}

.page-header__logo-image--closed path {
  fill: var(--basic-white);
}

.page-header__menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;

  &--active {
    display: block;
    width: 19px;
    height: 20px;
  }

  &--closed {
    display: block;
    width: 25px;
    height: 11px;
  }
}

.page-header__menu-toggle--closed .page-header__menu-close {
  display: none;
}

.page-header__menu-toggle--active .page-header__menu-open {
  display: none;
}

.page-header__navigation {
  margin-top: 49px;
  margin-bottom: 51px;
}

.page-header__contacts {
  margin-top: 51px;
}

.page-header__social {
  margin-top: 30px;
}
