.rates {
  position: relative;
  background-color: $background-lighter-blue;
  padding-top: 53px;
  padding-bottom: 8px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    bottom: -30px;
    background-color: inherit;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 1;
  }

  @media (min-width: $tablet) {
    padding-top: 74px;
    padding-bottom: 3px;

    &::after {
      height: 60px;
      bottom: -60px;
      border-bottom-right-radius: 60px;
      border-bottom-left-radius: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 107px;
    padding-bottom: 105px;
  }
}

.rates__content-wrapper {
  position: relative;

  @media (min-width: $desktop) {
    padding-left: 70px;
    padding-right: 184px;
  }
}

.rates__section-title {
  margin-left: 25px;
  width: 107px;

  &--business-rates {
    margin: 0 auto;
    width: auto;
    text-align: center;
  }

  @media (min-width: $tablet) {
    margin: 0;
    text-align: center;
    width: auto;
  }
}

.rates__icon {
  position: absolute;
  right: 0;
  top: -13px;
  width: 100px;
  height: 100px;
  background-image: url("../img/icon-rates.png");
  background-position: 50% 50%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/icon-rates@2x.png");
    background-size: 100px auto;
  }

  @media (min-width: $tablet) {
    top: auto;
    bottom: -126px;
    right: 45px;
    left: auto;
    z-index: 2;
  }

  @media (min-width: $desktop) {
    top: 180px;
    right: -74px;
    width: 198px;
    height: 198px;
    background-image: url("../img/icon-rates-desktop.png");
  }
}

.rates__list {
  margin-top: 56px;
  margin-left: 24px;
  margin-bottom: 46px;
  counter-reset: rates-counter;

  @media (min-width: $tablet) {
    margin-top: 71px;
    position: relative;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      width: 198px;
      height: calc(100% + 86px);
      background-color: $basic-light-blue;
      border-radius: 20px;
      top: -41px;
      right: 0;
      z-index: 0;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 131px;

    &::after {
      width: 446px;
      height: calc(100% + 102px);
      top: -51px;
      right: -161px;
    }
  }
}

.rates__item {
  position: relative;
  counter-increment: rates-counter;

  &:not(:nth-last-child(1)) {
    margin-bottom: 28px;
  }

  @media (min-width: $tablet) {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

    &:not(:nth-last-child(1)) {
      margin-bottom: 0;
    }
  }

  &::before {
    position: absolute;
    content: counter(rates-counter);
    top: -10px;
    right: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    line-height: 16px;
    color: $basic-white;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;

    @media (min-width: $tablet) {
      width: 68px;
      height: 68px;
      font-size: 28px;
      line-height: 28px;
      padding-top: 21px;
      right: auto;
      left: 0;
      top: 0;
    }
  }

  &:nth-child(1)::before {
    background-color: $special-orange-dark;
  }

  &:nth-child(2)::before {
    background-color: $special-orange-light;
  }

  &:nth-child(3)::before {
    background-color: $basic-yellow;
  }
}

.rates__service {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  font-weight: 300;
  color: $basic-grey;
  font-size: 16px;
  line-height: 16px;
  max-width: 190px;

  @media (min-width: $tablet) {
    position: relative;
    font-size: 28px;
    line-height: 28px;
    max-width: 400px;
    margin-left: 90px;
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      width: 400px;
      height: 1px;
      background-color: $basic-border-another-gray;
      top: -20px;
    }
  }

  @media (min-width: $desktop) {
    &::before {
      width: 700px;
    }
  }
}

.rates__item:nth-last-child(1) .rates__service {
  @media (min-width: $tablet) {
    &::after {
      content: "";
      position: absolute;
      width: 400px;
      height: 1px;
      background-color: $basic-border-another-gray;
      bottom: -20px;
      left: 0;
    }
  }

  @media (min-width: $desktop) {
    &::after {
      width: 700px;
    }
  }
}

.rates__price {
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: $basic-grey;
  font-size: 16px;
  line-height: 16px;
  max-width: 190px;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 28px;
    margin-right: 35px;
  }
}

.rates__business-rates {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet) {
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
  }

  &:hover {
    & .rates__business-rates-icon,
    & .rates__business-rates-text {
      opacity: 0.7;
    }
  }

  &:active {
    & .rates__business-rates-icon,
    & .rates__business-rates-text {
      opacity: 0.3;
    }
  }
}

.rates__business-rates-icon-wrapper {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    position: relative;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: $basic-light-blue;
    margin-right: 21px;
  }
}

.rates__business-rates-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27px;
  height: 27px;
}

.rates__business-rates-text {
  color: $basic-accent-blue;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.rates__business-popup {
  display: none;
  width: 270px;
  background-color: $basic-white;
  border-radius: 20px;
  box-shadow: 0 2px 8px $special-blue-more-opaque;
  overflow: hidden;

  @media (min-width: $tablet) {
    width: 688px;
  }

  @media (min-width: $desktop) {
    border-radius: 30px;
    width: 750px;
  }

  &--active {
    display: block;
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;

    @media (min-width: $tablet) {
      bottom: -36px;
    }

    @media (min-width: $desktop) {
      bottom: 40px;
      left: calc(50% + 165px);
    }
  }
}

.rates__business-popup-wrapper {
  padding-top: 34px;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 54px;
  }
}

.rates__business-list {
  margin-top: 28px;
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-top: 47px;
    margin-bottom: 52px;
    padding-left: 90px;
    padding-right: 90px;
  }

  @media (min-width: $desktop) {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 46px;
    margin-bottom: 53px;
  }
}

.rates__business-item {
  border-top: 1px solid $basic-border-gray;
  padding-top: 11px;
  padding-bottom: 11px;

  @media (min-width: $tablet) {
    padding-top: 14px;
    padding-bottom: 13px;
  }

  &:nth-last-child(1) {
    border-bottom: 1px solid $basic-border-gray;
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.rates__business-service {
  margin: 0;
  padding: 0;
  color: $basic-grey;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;

  @media (min-width: $tablet) {
    font-size: 22px;
    line-height: 28px;
  }
}

.rates__business-price {
  margin: 0;
  padding: 0;
  color: $basic-grey;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;

  @media (min-width: $tablet) {
    font-size: 22px;
    line-height: 28px;
  }
}

.rates__close-popup {
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: $background-grey;
  border: none;
  padding-top: 21px;
  padding-bottom: 21px;
  color: $special-blue;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  font-family: inherit;

  @media (min-width: $tablet) {
    padding-top: 41px;
    padding-bottom: 41px;
    line-height: 24px;
    font-size: 24px;
    text-transform: none;
  }

  &:hover {
    background-color: $background-lighter-blue;
  }

  &:active {
    background-color: $background-lighter-blue;
    color: $special-blue-opaque;
  }
}
