.registration {
  position: relative;
  background-color: $basic-blue;
  padding-top: 102px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    bottom: -29px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: inherit;
    z-index: 1;
  }

  @media (min-width: $tablet) {
    padding-top: 136px;

    &::after {
      height: 60px;
      bottom: -60px;
      border-bottom-right-radius: 60px;
      border-bottom-left-radius: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 169px;
  }
}

.registration__section-title {
  text-align: center;
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    margin-bottom: 59px;
  }
}

.registration__section-text {
  margin-left: 27px;
  margin-right: 27px;

  & br {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.registration__link {
  color: $basic-yellow;
  text-decoration: underline;

  &:hover {
    color: $special-orange-dark;
  }

  &:active {
    color: $special-orange-dark;
    opacity: 0.3;
  }
}

.registration__form {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 29px;
  margin-bottom: 29px;
  background-color: $basic-white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    margin-top: 65px;
    margin-bottom: 60px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 36px;
    margin-right: 36px;
  }

  @media (min-width: $desktop) {
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: 73px;
    margin-right: 73px;
  }
}

.registration__mail-input {
  border: none;
  box-sizing: border-box;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 25px;
  padding-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  color: $basic-grey;
  font-weight: 700;
  flex-basis: 200px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
    padding-left: 36px;
    padding-top: 26px;
    padding-bottom: 26px;
    border-radius: 0;
    flex-basis: 536px;
  }

  @media (min-width: $desktop) {
    flex-basis: 850px;
  }
}

.registration__submit-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 62px;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: $basic-yellow;
  border-radius: 10px;

  &:hover {
    background-color: $special-orange-light;
  }

  &:active {
    background-color: $special-orange-light;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/icon-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 62px;
    height: 100%;
  }

  @media (min-width: $tablet) {
    width: 80px;
    border-radius: 0;

    &::after {
      width: 80px;
      height: 100%;
    }
  }

  @media (min-width: $desktop) {
    width: 324px;
    text-align: left;

    &::after {
      right: 34px;
      left: auto;
      transform: none;
      width: 14px;
      height: 100%;
    }
  }
}

.registration__submit-button:active::after {
  opacity: 0.3;
}

.registration__submit-button-label {
  display: none;

  @media (min-width: $desktop) {
    display: inline-block;
    color: $special-blue;
    font-size: 24px;
    line-height: 24px;
    font-family: $pognali-font;
    font-weight: 700;
    margin-left: 36px;
  }
}

.registration__contacts {
  margin-top: 17px;

  @media (min-width: $tablet) {
    margin-top: 40px;
  }

  @media (min-width: $desktop) {
    margin-top: 37px;
  }
}
