.registration {
  background-color: var(--basic-blue);
}

.registration__link {
  color: var(--basic-yellow);
  text-decoration: underline;
}

.registration__form {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 29px;
  margin-bottom: 29px;
  background-color: var(--basic-white);
  border-radius: 10px;
  justify-content: space-between;
}

.registration__mail-input {
  border: none;
  box-sizing: border-box;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 25px;
  padding-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  color: var(--basic-grey);
  font-weight: 700;
}

.registration__submit-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 62px;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: var(--basic-yellow);
  border-radius: 10px;

  &:hover {
    background-color: var(--special-orange-light);
  }

  &:active {
    background-color: var(--special-orange-light);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../img/icon-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 62px;
    height: 100%;
  }
}

.registration__submit-button:active::after {
  opacity: 0.3;
}

.registration__submit-button-label {
  display: none;
}

.registration__contacts {
  margin-top: 17px;
}
