.section-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $basic-yellow;
  box-sizing: border-box;
  transition: 0.1s;

  &--index {
    border-radius: 10px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 22px;
    padding-bottom: 22px;

    @media (min-width: $tablet) {
      padding-top: 29px;
      padding-bottom: 29px;
      padding-left: 32px;
      padding-right: 32px;
      border-radius: 20px;
    }
  }

  &--registration {
    cursor: pointer;
    border: none;
    font-family: inherit;
  }

  &--location {
    border: 3px solid $basic-blue;
  }

  &:hover {
    background-color: $special-orange-light;
  }

  &:active {
    background-color: $special-orange-light;

    & .section-link__text {
      opacity: 0.3;
    }

    & .section-link__icon {
      opacity: 0.3;
    }
  }
}

.section-link--location:hover {
  background-color: $basic-blue;

  & .section-link__text {
    color: $basic-white;
  }

  & use {
    fill: $basic-white;
  }
}

.section-link--location:active {
  background-color: $basic-blue;

  & .section-link__text {
    color: $basic-white;
    opacity: 0.3;
  }

  & use {
    fill: $basic-white;
    opacity: 0.3;
  }
}

.section-link__text {
  display: block;
  flex-basis: 210px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $special-blue;
  transition: 0.1s;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  &--registration {
    @media (max-width: $almost-desktop) {
      display: none;
    }
  }
}

.section-link__icon {
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  transition: 0.1s;
}
