.social {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    justify-content: flex-start;
    margin-left: 57px;
    margin-right: 57px;
  }

  @media (min-width: $desktop) {
    display: none;

    &--footer {
      display: flex;
    }
  }
}

.social__link {
  display: block;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    & .social__icon {
      opacity: 0.6;
    }
  }

  &:active {
    & .social__icon {
      opacity: 0.3;
    }
  }

  &--footer {
    background-color: $basic-yellow;

    &:hover,
    &:active {
      background-color: $special-orange-light;
    }
  }

  @media (min-width: $tablet) {
    width: 62px;
    height: 62px;
  }
}

.social__link--footer:hover .social__icon {
  opacity: 1;
}

.social__link--footer:active .social__icon {
  opacity: 0.3;
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--facebook {
    width: 11px;
    height: 21px;
  }

  &--vk {
    width: 23px;
    height: 12px;
  }

  &--instagram {
    width: 18px;
    height: 18px;
  }

  @media (min-width: $tablet) {
    &--facebook {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 16px;
    }

    &--instagram {
      width: 24px;
      height: 24px;
    }
  }
}

